/*Noto Sans CJK DemiLight*/
@font-face {
  font-family: 'Noto Sans CJK';
  font-weight: 300;
  src: url('~@/assets/fonts/NotoSansKR-DemiLight.eot'),
  url('~@/assets/fonts/NotoSansKR-DemiLight.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/NotoSansKR-DemiLight.woff') format('woff'),
  url('~@/assets/fonts/NotoSansKR-DemiLight.otf') format('opentype'),
  local(※), url('~@/assets/fonts/NotoSansKR-DemiLight.woff') format('woff');
}

/*Noto Sans CJK Regular*/
@font-face {
  font-family: 'Noto Sans CJK';
  font-weight: 400;
  src: url('~@/assets/fonts/NotoSansKR-Regular.eot'),
  url('~@/assets/fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/NotoSansKR-Regular.woff') format('woff'),
  url('~@/assets/fonts/NotoSansKR-Regular.otf') format('opentype'),
  local(※), url('~@/assets/fonts/NotoSansKR-Regular.woff') format('woff');
}

/*Noto Sans CJK Bold*/
@font-face {
  font-family: 'Noto Sans CJK';
  font-weight: 600;
  src: url('~@/assets/fonts/NotoSansKR-Bold.eot'),
  url('~@/assets/fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/NotoSansKR-Bold.woff') format('woff'),
  url('~@/assets/fonts/NotoSansKR-Bold.otf') format('opentype'),
  local(※), url('~@/assets/fonts/NotoSansKR-Bold.woff') format('woff');
}